:root{
    --logoblue: #118CAE;
    --logogreen: #63A165;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

* {
    animation: fadeIn 1s ease-in-out;
}
:root {
    --animate-duration: 1ms;
    --animate-delay: 0s;
  }